.modal__close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 20px;
    height: 20px;
}

.modal__close:hover {
    width: 24px;
    height: 24px;
    transition: 0.5s ease-in-out;
}

.modal__close_error {
    top: 26px;
    right: 29px;
}

.edit {
    width: 15px;
    height: 15px;
    background: transparent;
    color: transparent;
    border: none;
}

.edit:hover svg path {
    stroke: #4f4297;
}

.edit-table {
    width: 20px;
    height: 20px;
}

.no-img, .corf, .download-img {
    width: 20px;
    height: 20px;
    background: transparent;
    color: transparent;
    border: none;
}

.no-img:hover svg {
    fill: #4f4297;
}

.corf:hover svg {
    fill: #4f4297;
}

.download-img:hover svg {
    fill: #4f4297;
}

.btn {
    height: 39px;
    background: var(--btn-color, #6D5BD0);
    border-radius: 6px;
    border: 2px solid var(--btn-color, #6D5BD0);
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--btn-text-color, #FFFFFF);
}

.btn:hover {
    background: #4f4297;
    border: 2px solid #4f4297;
    transition: 0.5s ease-in-out;
}

.btn:active, .btn:focus {
    border: 2px solid var(--btn-color, #6D5BD0);
    background: var(--btn-text-color, #FFFFFF);
    color: var(--btn-color, #6D5BD0);
}

.btn__download {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    font-size: 14px;
    line-height: 17px;
}

.form__basket {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 10;
}

.btn__submit {
    width: 200px;
}

.btn__submit_srm {
    width: 181px;
    float: right;
}

.filter {
    position: relative;
    width: 108px;
    height: 40px;
    border: 1px solid #C6C2DE;
    border-radius: 6px;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #25213B;
    padding-left: 36px;
}

.filter::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: url("../../icons/filter.svg") no-repeat;
}

.srm__input {
    width: 392px;
    height: 40px;
    background: #F4F2FF;
    border-radius: 6px;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-left: 40px;
}

.srm__search {
    position: relative;
}

.srm__search::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: url("../../icons/loupe.svg") no-repeat;
}

.srm__arrow {
    border: none;
}

.srm__arrow:hover svg {
    fill: #25213B;
    transition: 0.5s ease-in-out;
}

@media (max-width: 840px) {
    .btn__download {
        grid-column: 1 / 2;
        grid-row: 10 / 11;
    }
    .btn__submit {
        width: 86%;
    }
    .modal__close {
        top: 16px;
        right: 16px;
    }
}

@media (max-width: 440px) {
    .btn__download {
        font-size: 11px;
    }
}